/* Reset some default browser styles */
body, h1, img {
    margin: 0;
    padding: 0;
}

header {
    background-color: #d5d5d5;
    padding: 10px 0;
    border-radius: 20px;
    margin-top: 5px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: right;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Header container */
#div1 {
    background-color: #f8f8f8; /* Light background color */
    padding: 20px;
    position: relative;
    margin-top: 20px;
    border-bottom: 2px solid #ddd; /* Border for separation */
    text-align: center; /* Center-align content */
}

/* Logo styles */
#logo-container {
    margin-bottom: 10px; /* Add margin below the logo */
}

#logo {
    height: 50px; /* Adjust based on your logo size */
    width: auto; /* Maintain aspect ratio */
}

/* Heading styles */
h1 {
    font-size: 30px;
    color: #333; /* Dark text color */
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 10px; /* Add margin above the heading */
    margin-bottom: 20px; /* Add margin below the heading */
}

/* Search bar container */
.search-div {
    text-align: center;
    width: 80%;
    max-width: 600px;
    margin: 0 auto; /* Center the search-div horizontally */
    margin-top: 20px;
}

#search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

#search-button {
    padding: 10px 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
}

#search-button:hover {
    background-color: #555;
}

#photo-container img {
    width: 100%;
    max-width: 500px;
    display: none;
    margin-top: 20px;
    border-radius: 10px;
}
